## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, managed, and accessed using specific software systems. It provides a way to store, retrieve, update, and manage large volumes of data efficiently.

Differentiating between SQL and NoSQL databases:

SQL Databases:

SQL (Structured Query Language) databases are relational databases that use a tabular structure to organize and store data.
They have a predefined schema that defines the structure of tables, their columns, and relationships between tables.
SQL databases use SQL as the standard language for querying and manipulating data.
They ensure data integrity through ACID (Atomicity, Consistency, Isolation, Durability) properties.
Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.

NoSQL Databases:

NoSQL (Not Only SQL) databases are non-relational databases that store and manage data in a flexible and schema-less manner.
They can handle unstructured, semi-structured, and structured data formats.
NoSQL databases provide high scalability and performance, making them suitable for handling large amounts of data and high-traffic applications.
They offer various data models like key-value, document, columnar, or graph databases.
NoSQL databases are designed to be distributed and horizontally scalable, allowing them to handle big data and work efficiently in cloud environments.
Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, and Neo4j.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of database objects, such as tables, indexes, and constraints. DDL statements are responsible for creating, modifying, and deleting these objects.

CREATE:

The CREATE statement is used to create new database objects, such as tables, views, indexes, or constraints.

Example: Creating a new table called "Customers" with columns for customer ID, name, and email:

In [ ]:
CREATE TABLE Customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100)
);

DROP:

The DROP statement is used to remove database objects, such as tables, views, or indexes, from the database.

Example: Dropping the "Customers" table:

In [ ]:
DROP TABLE Customers;

ALTER:

The ALTER statement is used to modify the structure of an existing database object. It allows adding, modifying, or dropping columns, constraints, or indexes.

Example: Adding a new column called "phone" to the "Customers" table:

In [ ]:
ALTER TABLE customers
ADD COLUMN phone varchar(20);

TRUNCATE:

The TRUNCATE statement is used to remove all data from a table, while preserving the table structure and associated objects. It is faster than deleting each row individually.

Example: Truncating the data in the "Customers" table:

In [ ]:
TRUNCATE TABLE Customers;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

INSERT:

The INSERT statement is used to add new records or rows into a table.

Example: Inserting a new person record into the "people" table:

In [ ]:
INSERT INTO people(id,firstname,lastname,age)
values(1,'udhaya','kumar',23)

UPDATE:

The UPDATE statement is used to modify existing records in a table.

Example: Updating the lastname of a person with the ID of 1 in the "people" table:

In [ ]:
UPDATE person
SET lastname = 'sathish'
WHERE id = 1;

DELETE:

The DELETE statement is used to remove one or more records from a table.

Example: Deleting a people record with the ID of 1 from the "people" table:

In [ ]:
DELETE FROM people
WHERE id = 1;

## What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language.
DQL statements are primarily focused on querying and retrieving data from database tables.

SELECT:

The SELECT statement is used to retrieve data from one or more tables in the database.

It allows you to specify the columns you want to retrieve, apply filters, perform calculations, join tables, and sort the results.

Example: Retrieving customer information from the "Customers" table:

In [ ]:
#select * from tablename
 select * from customers

##Q5. Explain Primary Key and Foreign Key.

Primary Key:

A primary key is a column or set of columns in a database table that uniquely identifies each record (row) in that table.
-->It ensures the uniqueness and integrity of the data within the table.

-->Each table can have only one primary key, and its values must be unique and non-null.

-->The primary key provides a means to uniquely identify and access individual records within the table.

Foreign Key:

-->A foreign key is a column or set of columns in a database table that refers to the primary key of another table.

-->It establishes a relationship between two tables, known as a parent-child relationship.

-->The foreign key in one table references the primary key of another table, creating a link between the two tables.

--It enforces referential integrity, ensuring that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table.

##Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector-python library, which provides a Python interface for interacting with MySQL databases. Here's an example code that demonstrates how to connect to MySQL and execute a simple query:

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 44.2 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (3.20.3)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33

In [ ]:
import mysql.connector as mysql
# Establish the connection
db = mysql.connector.connect(
    host='localhost',
    user='your_username',
    password='your_password',
    database='your_database'
)

# Create a cursor object
mycursor = db.cursor()
# Execute a query
mycursor.excute("select * from table")
# Fetch and print the results
for i in mycursor.fetchall():
  print(i)
# Close the cursor and connection
mycursor.close()
db.close()

Explanation of cursor() and execute() methods:

cursor():

The cursor() method creates a cursor object, which allows you to execute SQL statements and fetch the results.

The cursor object serves as a communication channel between your Python program and the MySQL server.

It provides methods to execute queries, fetch results, and manage the interaction with the database.

execute():

The execute() method is used to execute SQL queries or statements through the cursor object.

It takes an SQL query as a parameter and sends it to the MySQL server for execution.

The executed query can be a SELECT, INSERT, UPDATE, DELETE, or any other valid SQL statement.

If the query returns results, you can use methods like fetchone() or fetchall() to retrieve the data.

In the provided code, we establish a connection to the MySQL database using the connection parameters.

Then, we create a cursor object using the cursor() method. Next, we execute a SELECT query using the execute() method.

The results are fetched using the fetchall() method and printed. Finally, we close the cursor and the connection to release the resources.

##Q7. Give the order of execution of SQL clauses in an SQL query.

The general order of execution for a typical SELECT statement is as follows:

FROM: Specifies the table or tables from which the data will be retrieved.

JOIN: If there are any JOIN operations involved, the data from multiple tables is combined based on the specified conditions.

WHERE: Filters the rows based on the specified conditions, selecting only those that satisfy the given criteria.

GROUP BY: Groups the rows based on specified columns, usually used in conjunction with aggregate functions like SUM, AVG, COUNT, etc.

HAVING: Filters the grouped rows based on specified conditions, similar to the WHERE clause but applied after the GROUP BY operation.

SELECT: Specifies the columns or expressions to be included in the result set.

DISTINCT: If specified, eliminates duplicate rows from the result set.
ORDER BY: Sorts the result set based on specified columns or expressions.

LIMIT/OFFSET: If supported by the database, limits the number of rows returned or specifies a starting point for the result set.

It's important to note that not all clauses are required in every query, and their order may vary based on the specific query requirements. Additionally, some clauses like HAVING, DISTINCT, ORDER BY, and LIMIT/OFFSET are optional and can be omitted if not needed.